<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ns2:config xmlns:ns2="http://www.bagri.com/xdm/system">
    <nodes>
        <node name="admin">
            <version>1</version>
            <createdAt>2016-05-24T17:54:42.221+04:00</createdAt>
            <createdBy>admin</createdBy>
            <options>
                <entry name="xdm.cluster.node.role">admin</entry>
            </options>
        </node>
        <node name="cache">
            <version>3</version>
            <createdAt>2016-05-11T02:15:20.792+04:00</createdAt>
            <createdBy>admin</createdBy>
            <options>
                <entry name="xdm.cluster.node.schemas">default</entry>
                <entry name="xdm.cluster.node.role">server</entry>
            </options>
        </node>
    </nodes>
    <schemas>
        <schema name="default" active="true">
            <version>1</version>
            <createdAt>2016-05-27T15:00:58.096+04:00</createdAt>
            <createdBy>admin</createdBy>
            <description>default schema for test and demo purpose</description>
            <properties>
                <entry name="xdm.schema.password">5f4dcc3b5aa765d61d8327deb882cf99</entry>
                <entry name="xdm.schema.data.backup.read">false</entry>
                <entry name="xdm.schema.trans.backup.async">0</entry>
                <entry name="xdm.schema.store.enabled">false</entry>
                <entry name="xdm.schema.test.mode">false</entry>
                <entry name="xdm.schema.transaction.timeout">60000</entry>
                <entry name="xdm.schema.thread.pool">32</entry>
                <entry name="xdm.schema.ports.first">10500</entry>
                <entry name="xdm.schema.store.type">XML</entry>
                <entry name="xdm.schema.ports.last">10600</entry>
                <entry name="xdm.schema.population.size">1</entry>
                <entry name="xdm.schema.data.backup.async">1</entry>
                <entry name="xdm.schema.store.data.path">../data/default</entry>
                <entry name="xdm.schema.dict.backup.sync">0</entry>
                <entry name="xdm.schema.trans.backup.sync">1</entry>
                <entry name="xdm.schema.query.backup.sync">0</entry>
                <entry name="xdm.schema.buffer.size">128</entry>
                <entry name="xdm.schema.dict.backup.async">1</entry>
                <entry name="xdm.schema.dict.backup.read">true</entry>
                <entry name="xdm.schema.trans.backup.read">false</entry>
                <entry name="xdm.schema.query.backup.async">0</entry>
                <!--entry name="xdm.schema.members">192.168.1.50, 192.168.1.100, 192.168.1.200</entry-->
                <entry name="xdm.schema.members">localhost</entry>
                <entry name="xdm.schema.data.backup.sync">0</entry>
                <entry name="xdm.schema.partition.count">271</entry>
                <entry name="xdm.schema.query.backup.read">true</entry>
                <entry name="xdm.schema.health.threshold.low">250</entry>
                <entry name="xdm.schema.health.threshold.high">100</entry>
                <entry name="xdm.schema.store.tx.buffer.size">2048</entry>
                <entry name="xdm.schema.population.buffer.size">1000000</entry>
                <entry name="xdm.schema.query.parallel">true</entry>
                <entry name="xdm.schema.partition.pool">32</entry>
                <entry name="xqj.schema.orderingMode">2</entry>
                <entry name="xqj.schema.queryLanguageTypeAndVersion">1</entry>
                <entry name="xqj.schema.bindingMode">0</entry>
                <entry name="xqj.schema.boundarySpacePolicy">1</entry>
                <entry name="xqj.schema.scrollability">1</entry>
                <entry name="xqj.schema.holdability">2</entry>
                <entry name="xqj.schema.copyNamespacesModePreserve">1</entry>
                <entry name="xqj.schema.queryTimeout">0</entry>
                <entry name="xqj.schema.defaultFunctionNamespace">http://www.w3.org/2005/xpath-functions</entry>
                <entry name="xqj.schema.defaultElementTypeNamespace">http://www.w3.org/2001/XMLSchema</entry>
                <entry name="xqj.schema.copyNamespacesModeInherit">1</entry>
                <entry name="xqj.schema.baseUri">file:///../data/default</entry>
                <entry name="xqj.schema.defaultOrderForEmptySequences">2</entry>
                <entry name="xqj.schema.defaultCollationUri">http://www.w3.org/2005/xpath-functions/collation/codepoint</entry>
                <entry name="xqj.schema.constructionMode">1</entry>
            </properties>
            <collections>
                <collection id="1" name="CLN_Security">
                    <version>1</version>
                    <createdAt>2016-05-20T01:01:26.965+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/{http://tpox-benchmark.com/security}Security</docType>
                    <description>All security documents</description>
                    <enabled>true</enabled>
                </collection>
                <collection id="2" name="CLN_Customer">
                    <version>1</version>
                    <createdAt>2016-05-20T01:01:26.965+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/{http://tpox-benchmark.com/custacc}Customer</docType>
                    <description>All customer documents</description>
                    <enabled>true</enabled>
                </collection>
                <collection id="3" name="CLN_Order">
                    <version>1</version>
                    <createdAt>2016-05-20T01:01:26.965+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/{http://www.fixprotocol.org/FIXML-4-4}FIXML</docType>
                    <description>All order documents</description>
                    <enabled>true</enabled>
                </collection>
            </collections>
            <fragments/>
            <indexes>
                <index name="IDX_Security_Symbol">
                    <version>1</version>
                    <createdAt>2016-05-09T08:37:00.611+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/{http://tpox-benchmark.com/security}Security</docType>
                    <path>/{http://tpox-benchmark.com/security}Security/{http://tpox-benchmark.com/security}Symbol/text()</path>
                    <dataType xmlns:xs="http://www.w3.org/2001/XMLSchema">xs:string</dataType>
                    <caseSensitive>true</caseSensitive>
                    <range>false</range>
                    <unique>true</unique>
                    <description>Security Symbol</description>
                    <enabled>true</enabled>
                </index>
                <index name="IDX_Security_Yield">
                    <version>1</version>
                    <createdAt>2016-05-09T08:37:00.686+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/{http://tpox-benchmark.com/security}Security</docType>
                    <path>/{http://tpox-benchmark.com/security}Security/{http://tpox-benchmark.com/security}Yield/text()</path>
                    <dataType xmlns:xs="http://www.w3.org/2001/XMLSchema">xs:decimal</dataType>
                    <caseSensitive>false</caseSensitive>
                    <range>true</range>
                    <unique>false</unique>
                    <description>Security Yield</description>
                    <enabled>true</enabled>
                </index>
                <index name="IDX_Security_Sector">
                    <version>1</version>
                    <createdAt>2016-05-09T08:37:00.652+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/{http://tpox-benchmark.com/security}Security</docType>
                    <path>/{http://tpox-benchmark.com/security}Security/{http://tpox-benchmark.com/security}SecurityInformation/*/{http://tpox-benchmark.com/security}Sector/text()</path>
                    <dataType xmlns:xs="http://www.w3.org/2001/XMLSchema">xs:string</dataType>
                    <caseSensitive>true</caseSensitive>
                    <range>false</range>
                    <unique>false</unique>
                    <description>Security Sector</description>
                    <enabled>true</enabled>
                </index>
                <!--index name="IDX_Security_PE">
                    <version>1</version>
                    <createdAt>2016-05-21T13:36:26.965+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/{http://tpox-benchmark.com/security}Security</docType>
                    <path>/{http://tpox-benchmark.com/security}Security/{http://tpox-benchmark.com/security}PE/text()</path>
		    <dataType>xs:decimal</dataType>
                    <range>true</range>
                    <unique>false</unique>
                    <description>Security PE</description>
                    <enabled>true</enabled>
                </index-->
                <index name="IDX_Customer_id">
                    <version>1</version>
                    <createdAt>2016-05-25T13:36:26.965+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/{http://tpox-benchmark.com/custacc}Customer</docType>
                    <path>/{http://tpox-benchmark.com/custacc}Customer/@id</path>
                    <dataType xmlns:xs="http://www.w3.org/2001/XMLSchema">xs:integer</dataType>
                    <unique>true</unique>
                    <description>Customer id</description>
                    <enabled>true</enabled>
                </index>
                <index name="IDX_Order_ID">
                    <version>1</version>
                    <createdAt>2016-05-25T13:36:26.965+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/{http://www.fixprotocol.org/FIXML-4-4}FIXML</docType>
                    <path>/{http://www.fixprotocol.org/FIXML-4-4}FIXML/{http://www.fixprotocol.org/FIXML-4-4}Order/@ID</path>
                    <dataType xmlns:xs="http://www.w3.org/2001/XMLSchema">xs:string</dataType>
                    <unique>true</unique>
                    <description>Order ID</description>
                    <enabled>true</enabled>
                </index>
            </indexes>
            <triggers>
                <!--trigger xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="ns2:javatrigger">
                    <version>1</version>
                    <createdAt>2016-05-30T02:25:21.887+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/{http://tpox-benchmark.com/security}Security</docType>
                    <synchronous>false</synchronous>
                    <enabled>true</enabled>
                    <index>1</index>
                    <actions>
                        <action order="after" scope="delete"/>
                        <action order="before" scope="insert"/>
                    </actions>
                    <library>trigger_library</library>
                    <className>com.bagri.samples.ext.SampleTrigger</className>
                </trigger>
                <trigger xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="ns2:javatrigger">
                    <version>1</version>
                    <createdAt>2016-05-27T02:25:21.887+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/{http://tpox-benchmark.com/security}Security</docType>
                    <synchronous>true</synchronous>
                    <enabled>true</enabled>
                    <index>1</index>
                    <actions>
                        <action order="after" scope="insert"/>
                    </actions>
                    <library>trigger_library</library>
                    <className>com.bagri.samples.ext.SecurityTrigger</className>
                </trigger>
		<trigger xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="ns2:xqtrigger">
                    <version>1</version>
                    <createdAt>2016-05-11T09:44:20.184+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/{http://tpox-benchmark.com/security}Security</docType>
                    <synchronous>false</synchronous>
                    <enabled>true</enabled>
                    <index>0</index>
                    <actions>
                        <action order="before" scope="delete"/>
                    </actions>
                    <module>trigger_module</module>
                    <function>bgdm:before-delete-security</function>
                </trigger-->
            </triggers>
        </schema>
        <schema name="TPoX" active="true">
            <version>1</version>
            <createdAt>2016-05-21T14:40:58.096+04:00</createdAt>
            <createdBy>admin</createdBy>
            <description>TPoX: schema for TPoX-related tests</description>
            <properties>
                <entry name="xdm.schema.ports.first">10000</entry>
                <entry name="xdm.schema.ports.last">10100</entry>
                <!--entry name="xdm.schema.members">192.168.1.50, 192.168.1.100, 192.168.1.200</entry-->
                <entry name="xdm.schema.members">localhost</entry>
                <entry name="xdm.schema.thread.pool">16</entry>
                <entry name="xdm.schema.test.mode">false</entry>
                <entry name="xdm.schema.store.data.path">../data/tpox</entry>
                <entry name="xdm.schema.store.class">com.bagri.xdm.cache.hazelcast.store.FileDocumentCacheStore</entry>
                <entry name="xdm.schema.store.type">XML</entry>
                <entry name="xdm.schema.password">TPoX</entry>
                <entry name="xdm.schema.partition.count">271</entry>
                <entry name="xdm.schema.population.size">1</entry>
                <entry name="xdm.schema.buffer.size">64</entry>
                <entry name="xdm.schema.store.enabled">true</entry>
                <entry name="xdm.schema.trans.backup.async">0</entry>
                <entry name="xdm.schema.trans.backup.sync">1</entry>
                <entry name="xdm.schema.trans.backup.read">false</entry>
                <entry name="xdm.schema.data.backup.read">false</entry>
                <entry name="xdm.schema.data.backup.async">1</entry>
                <entry name="xdm.schema.data.backup.sync">0</entry>
                <entry name="xdm.schema.dict.backup.sync">0</entry>
                <entry name="xdm.schema.dict.backup.async">1</entry>
                <entry name="xdm.schema.dict.backup.read">true</entry>
                <entry name="xdm.schema.query.backup.async">0</entry>
                <entry name="xdm.schema.query.backup.sync">0</entry>
                <entry name="xdm.schema.query.backup.read">true</entry>
		<entry name="xdm.schema.transaction.timeout">60000</entry>
                <entry name="xdm.schema.health.threshold.low">25</entry>
                <entry name="xdm.schema.health.threshold.high">0</entry>
                <entry name="xdm.schema.store.tx.buffer.size">2048</entry>
                <entry name="xdm.schema.population.buffer.size">1000000</entry>
                <entry name="xdm.schema.query.parallel">true</entry>
                <entry name="xdm.schema.partition.pool">32</entry>
                <entry name="xqj.schema.baseUri">file:///../data/tpox/</entry>
                <entry name="xqj.schema.orderingMode">2</entry>
                <entry name="xqj.schema.queryLanguageTypeAndVersion">1</entry>
                <entry name="xqj.schema.bindingMode">0</entry>
                <entry name="xqj.schema.boundarySpacePolicy">1</entry>
                <entry name="xqj.schema.scrollability">1</entry>
                <entry name="xqj.schema.holdability">2</entry>
                <entry name="xqj.schema.copyNamespacesModePreserve">1</entry>
                <entry name="xqj.schema.queryTimeout">0</entry>
                <entry name="xqj.schema.defaultFunctionNamespace">http://www.w3.org/2005/xpath-functions</entry>
                <entry name="xqj.schema.defaultElementTypeNamespace">http://www.w3.org/2001/XMLSchema</entry>
                <entry name="xqj.schema.copyNamespacesModeInherit">1</entry>
                <entry name="xqj.schema.defaultOrderForEmptySequences">2</entry>
                <entry name="xqj.schema.defaultCollationUri">http://www.w3.org/2005/xpath-functions/collation/codepoint</entry>
                <entry name="xqj.schema.constructionMode">1</entry>
            </properties>
            <collections>
                <collection id="1" name="CLN_Security">
                    <version>1</version>
                    <createdAt>2016-05-20T01:01:26.965+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/{http://tpox-benchmark.com/security}Security</docType>
                    <description>All security documents</description>
                    <enabled>true</enabled>
                </collection>
                <collection id="2" name="CLN_Customer">
                    <version>1</version>
                    <createdAt>2016-05-20T01:01:26.965+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/{http://tpox-benchmark.com/custacc}Customer</docType>
                    <description>All customer documents</description>
                    <enabled>true</enabled>
                </collection>
                <collection id="3" name="CLN_Order">
                    <version>1</version>
                    <createdAt>2016-05-20T01:01:26.965+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/{http://www.fixprotocol.org/FIXML-4-4}FIXML</docType>
                    <description>All order documents</description>
                    <enabled>true</enabled>
                </collection>
                <collection id="4" name="CLN_Custom">
                    <version>1</version>
                    <createdAt>2016-05-20T01:01:26.965+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <!--docType></docType-->
                    <description>Custom collection</description>
                    <enabled>true</enabled>
                </collection>
            </collections>
            <fragments/>
            <indexes>
                <index name="IDX_Customer_id">
                    <version>1</version>
                    <createdAt>2016-01-25T13:36:26.965+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/{http://tpox-benchmark.com/custacc}Customer</docType>
                    <path>/{http://tpox-benchmark.com/custacc}Customer/@id</path>
                    <dataType xmlns:xs="http://www.w3.org/2001/XMLSchema">xs:string</dataType>
                    <caseSensitive>true</caseSensitive>
                    <range>false</range>
                    <unique>true</unique>
                    <description>Customer id</description>
                    <enabled>true</enabled>
                </index>
                <index name="IDX_Security_Symbol">
                    <version>1</version>
                    <createdAt>2016-05-25T13:36:26.965+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/{http://tpox-benchmark.com/security}Security</docType>
                    <path>/{http://tpox-benchmark.com/security}Security/{http://tpox-benchmark.com/security}Symbol/text()</path>
                    <dataType xmlns:xs="http://www.w3.org/2001/XMLSchema">xs:string</dataType>
                    <caseSensitive>true</caseSensitive>
                    <range>false</range>
                    <unique>true</unique>
                    <description>Security Symbol</description>
                    <enabled>true</enabled>
                </index>
                <index name="IDX_Order_ID">
                    <version>1</version>
                    <createdAt>2016-05-25T13:36:26.965+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/{http://www.fixprotocol.org/FIXML-4-4}FIXML</docType>
                    <path>/{http://www.fixprotocol.org/FIXML-4-4}FIXML/{http://www.fixprotocol.org/FIXML-4-4}Order/@ID</path>
                    <dataType xmlns:xs="http://www.w3.org/2001/XMLSchema">xs:string</dataType>
                    <caseSensitive>true</caseSensitive>
                    <range>false</range>
                    <unique>true</unique>
                    <description>Order ID</description>
                    <enabled>true</enabled>
                </index>
            </indexes>
            <triggers/>
        </schema>
        <schema name="XMark" active="true">
            <version>2</version>
            <createdAt>2016-05-15T01:13:04.416+04:00</createdAt>
            <createdBy>admin</createdBy>
            <description>XMark benchmark schema</description>
            <properties>
                <entry name="xdm.schema.ports.first">20000</entry>
                <entry name="xdm.schema.ports.last">20010</entry>
                <!--entry name="xdm.schema.members">192.168.1.50, 192.168.1.100, 192.168.1.200</entry-->
                <!--entry name="xdm.schema.members">192.168.1.100</entry-->
                <entry name="xdm.schema.members">localhost</entry>
                <entry name="xdm.schema.test.mode">false</entry>
                <entry name="xdm.schema.thread.pool">10</entry>
                <entry name="xdm.schema.store.data.path">../data/xmark</entry>
                <entry name="xdm.schema.store.type">XML</entry>
                <entry name="xdm.schema.password">XMark</entry>
                <entry name="xdm.schema.name">XMark</entry>
                <entry name="xdm.schema.partition.count">271</entry>
                <entry name="xdm.schema.population.size">1</entry>
                <entry name="xdm.schema.buffer.size">256</entry>
                <entry name="xdm.schema.store.enabled">true</entry>
                <entry name="xdm.schema.trans.backup.async">0</entry>
                <entry name="xdm.schema.trans.backup.sync">1</entry>
                <entry name="xdm.schema.trans.backup.read">false</entry>
                <entry name="xdm.schema.data.backup.read">false</entry>
                <entry name="xdm.schema.data.backup.async">1</entry>
                <entry name="xdm.schema.data.backup.sync">0</entry>
                <entry name="xdm.schema.dict.backup.sync">0</entry>
                <entry name="xdm.schema.dict.backup.async">1</entry>
                <entry name="xdm.schema.dict.backup.read">true</entry>
                <entry name="xdm.schema.query.backup.async">0</entry>
                <entry name="xdm.schema.query.backup.sync">0</entry>
                <entry name="xdm.schema.query.backup.read">true</entry>
		<entry name="xdm.schema.transaction.timeout">60000</entry>
                <entry name="xdm.schema.health.threshold.low">25</entry>
                <entry name="xdm.schema.health.threshold.high">0</entry>
                <entry name="xdm.schema.store.tx.buffer.size">2048</entry>
                <entry name="xdm.schema.population.buffer.size">1000000</entry>
                <entry name="xdm.schema.query.parallel">true</entry>
                <entry name="xdm.schema.partition.pool">32</entry>
                <entry name="xqj.schema.baseUri">file:///../data/xmark/</entry>
                <entry name="xqj.schema.orderingMode">2</entry>
                <entry name="xqj.schema.queryLanguageTypeAndVersion">1</entry>
                <entry name="xqj.schema.bindingMode">0</entry>
                <entry name="xqj.schema.boundarySpacePolicy">1</entry>
                <entry name="xqj.schema.scrollability">1</entry>
                <entry name="xqj.schema.holdability">2</entry>
                <entry name="xqj.schema.copyNamespacesModePreserve">1</entry>
                <entry name="xqj.schema.queryTimeout">0</entry>
                <entry name="xqj.schema.defaultFunctionNamespace">http://www.w3.org/2005/xpath-functions</entry>
                <entry name="xqj.schema.defaultElementTypeNamespace"></entry>
                <entry name="xqj.schema.copyNamespacesModeInherit">1</entry>
                <entry name="xqj.schema.defaultOrderForEmptySequences">2</entry>
                <entry name="xqj.schema.defaultCollationUri">http://www.w3.org/2005/xpath-functions/collation/codepoint</entry>
                <entry name="xqj.schema.constructionMode">1</entry>
            </properties>
            <fragments>
                <fragment name="FRA_Categories_Category">
                    <version>1</version>
                    <createdAt>2016-05-02T19:05:26.965+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/site</docType>
                    <path>/site/categories/category</path>
                    <description>Auction Categories</description>
                    <enabled>true</enabled>
                </fragment>
                <fragment name="FRA_People_Person">
                    <version>1</version>
                    <createdAt>2016-05-02T19:06:26.965+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/site</docType>
                    <path>/site/people/person</path>
                    <description>Auction Peoples</description>
                    <enabled>true</enabled>
                </fragment>
                <fragment name="FRA_Open_Auctions">
                    <version>1</version>
                    <createdAt>2016-05-02T19:07:26.965+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/site</docType>
                    <path>/site/open_auctions/open_auction</path>
                    <description>Open Auctions</description>
                    <enabled>true</enabled>
                </fragment>
                <fragment name="FRA_Closed_Auctions">
                    <version>1</version>
                    <createdAt>2016-05-02T19:08:26.965+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/site</docType>
                    <path>/site/closed_auctions/closed_auction</path>
                    <description>Closed Auctions</description>
                    <enabled>true</enabled>
                </fragment>
                <fragment name="FRA_Region_Item">
                    <version>1</version>
                    <createdAt>2016-05-02T10:05:26.965+03:00</createdAt>
                    <createdBy>admin</createdBy>
                    <docType>/site</docType>
                    <path>/site/regions/*/item</path>
                    <description>Auction Region Items</description>
                    <enabled>true</enabled>
                </fragment>
            </fragments>
            <indexes/>
            <triggers/>
        </schema>
        <schema name="TPoX-J" active="true">
            <version>1</version>
            <createdAt>2016-05-22T13:36:26.965+03:00</createdAt>
            <createdBy>admin</createdBy>
            <description>TPoX-J: transient schema for TPoX-related tests; no persistent store</description>
            <properties>
                <entry name="xdm.schema.store.enabled">true</entry>
                <entry name="xdm.schema.trans.backup.async">0</entry>
                <entry name="xdm.schema.trans.backup.sync">1</entry>
                <entry name="xdm.schema.trans.backup.read">false</entry>
                <entry name="xdm.schema.data.backup.read">false</entry>
                <entry name="xdm.schema.data.backup.async">1</entry>
                <entry name="xdm.schema.data.backup.sync">0</entry>
                <entry name="xdm.schema.dict.backup.sync">0</entry>
                <entry name="xdm.schema.dict.backup.async">1</entry>
                <entry name="xdm.schema.dict.backup.read">true</entry>
                <entry name="xdm.schema.query.backup.async">0</entry>
                <entry name="xdm.schema.query.backup.sync">0</entry>
                <entry name="xdm.schema.query.backup.read">true</entry>
                <entry name="xdm.schema.password">TPoX-J</entry>
                <entry name="xdm.schema.test.mode">false</entry>
                <entry name="xdm.schema.thread.pool">8</entry>
                <entry name="xdm.schema.store.type">JSON</entry>
                <entry name="xdm.schema.ports.first">10700</entry>
                <entry name="xdm.schema.ports.last">10800</entry>
                <!--entry name="xdm.schema.members">192.168.1.50, 192.168.1.100, 192.168.1.200</entry-->
                <entry name="xdm.schema.members">localhost</entry>
                <entry name="xdm.schema.population.size">1</entry>
                <entry name="xdm.schema.store.data.path">../data/json</entry>
                <entry name="xdm.schema.buffer.size">128</entry>
                <entry name="xdm.schema.partition.count">271</entry>
		<entry name="xdm.schema.transaction.timeout">60000</entry>
                <entry name="xdm.schema.health.threshold.low">25</entry>
                <entry name="xdm.schema.health.threshold.high">0</entry>
                <entry name="xdm.schema.store.tx.buffer.size">2048</entry>
                <entry name="xdm.schema.population.buffer.size">1000000</entry>
                <entry name="xdm.schema.query.parallel">false</entry>
                <entry name="xdm.schema.partition.pool">32</entry>
                <entry name="xqj.schema.baseUri">file:///../data/json/</entry>
                <entry name="xqj.schema.orderingMode">2</entry>
                <entry name="xqj.schema.queryLanguageTypeAndVersion">1</entry>
                <entry name="xqj.schema.bindingMode">0</entry>
                <entry name="xqj.schema.boundarySpacePolicy">1</entry>
                <entry name="xqj.schema.scrollability">1</entry>
                <entry name="xqj.schema.holdability">2</entry>
                <entry name="xqj.schema.copyNamespacesModePreserve">1</entry>
                <entry name="xqj.schema.queryTimeout">0</entry>
                <entry name="xqj.schema.defaultFunctionNamespace">http://www.w3.org/2005/xpath-functions</entry>
                <entry name="xqj.schema.defaultElementTypeNamespace">http://www.w3.org/2001/XMLSchema</entry>
                <entry name="xqj.schema.copyNamespacesModeInherit">1</entry>
                <entry name="xqj.schema.defaultOrderForEmptySequences">2</entry>
                <entry name="xqj.schema.defaultCollationUri">http://www.w3.org/2005/xpath-functions/collation/codepoint</entry>
                <entry name="xqj.schema.constructionMode">1</entry>
            </properties>
            <fragments/>
            <indexes/>
            <triggers/>
        </schema>
    </schemas>
    <modules>
        <module name="hello_module">
            <version>1</version>
            <createdAt>2016-05-10T13:36:26.965+03:00</createdAt>
            <createdBy>admin</createdBy>
            <fileName>../data/tpox/hello_module.xq</fileName>
            <description>The Hello Test Module</description>
            <namespace>http://helloworld</namespace>
            <enabled>true</enabled>
        </module>
        <module name="trigger_module">
            <version>1</version>
            <createdAt>2016-05-10T13:36:26.965+03:00</createdAt>
            <createdBy>admin</createdBy>
            <fileName>../data/tpox/sample_triggers.xq</fileName>
            <description>The Trigger Test Module</description>
            <namespace>http://bagridb.com/bagri-xdm</namespace>
            <enabled>true</enabled>
        </module>
    </modules>
    <libraries>
        <library name="java_library">
            <version>5</version>
            <createdAt>2016-05-21T16:17:20.542+03:00</createdAt>
            <createdBy>admin</createdBy>
            <description>The Standard Java Extension Library</description>
            <enabled>true</enabled>
            <functions>
                <function>
                    <className>java.lang.Double</className>
                    <method>valueOf</method>
                    <result type="double" cardinality="one"/>
                    <prefix>dbl</prefix>
                    <parameters>
                        <parameter name="value" type="string" cardinality="one"/>
                    </parameters>
                </function>
                <function>
                    <className>java.lang.Math</className>
                    <method>abs</method>
                    <result type="int" cardinality="one"/>
                    <prefix>math</prefix>
                    <parameters>
                        <parameter name="value" type="int" cardinality="one"/>
                    </parameters>
                </function>
                <function>
                    <className>java.lang.Math</className>
                    <method>max</method>
                    <result type="long" cardinality="one"/>
                    <prefix>math</prefix>
                    <parameters>
                        <parameter name="arg0" type="long" cardinality="one"/>
                        <parameter name="arg1" type="long" cardinality="one"/>
                    </parameters>
                </function>
            </functions>
        </library>
        <library name="trigger_library">
            <version>1</version>
            <createdAt>2016-05-31T16:17:20.542+03:00</createdAt>
            <createdBy>admin</createdBy>
            <fileName>../samples/bagri-samples-ext/target/bagri-samples-ext-0.7.1-SNAPSHOT.jar</fileName>
            <description>Sample extension trigger Library</description>
            <enabled>true</enabled>
            <functions/>
        </library>
    </libraries>
    <dataFormats>
        <dataFormat name="XML">
            <version>1</version>
            <createdAt>2016-05-31T16:17:20.542+03:00</createdAt>
            <createdBy>admin</createdBy>
            <library>java_library</library>
            <description>XML Parser/Builder</description>
            <enabled>true</enabled>
            <parserClass>com.bagri.xdm.client.xml.XmlStaxParser</parserClass>
            <builderClass>com.bagri.xdm.client.xml.XmlBuilder</builderClass>
            <extensions>xml</extensions>
        </dataFormat>
        <dataFormat name="JSON">
            <version>1</version>
            <createdAt>2016-05-31T16:17:20.542+03:00</createdAt>
            <createdBy>admin</createdBy>
            <library>java_library</library>
            <description>JSON Parser/Builder</description>
            <parserClass>com.bagri.xdm.client.json.XDMJsonParser</parserClass>
            <!--builderClass>com.bagri.xdm.client.xml.XmlBuilder</builderClass-->
            <enabled>true</enabled>
            <extensions>json</extensions>
        </dataFormat>
    </dataFormats>
    <dataStores>
        <dataStore name="File">
            <version>1</version>
            <createdAt>2016-05-31T16:17:20.542+03:00</createdAt>
            <createdBy>admin</createdBy>
            <library>java_library</library>
            <description>Standard File store</description>
            <enabled>true</enabled>
            <storeClass>com.bagri.xdm.cache.hazelcast.store.FileDocumentCacheStore</storeClass>
            <properties/>
        </dataStore>
    </dataStores>
</ns2:config>
