# JVM related Files #
*.class

# Eclipse Files #
logs/
output/
target/
.settings/
.classpath
.project

# test generated xml files #
etc/samples/default/

# catalog files #
*.xdb

# Idea Files #
*.iml
*.ipr
*.iws
