# JVM related Files #
*.class

# Eclipse Files #
logs/
target/
.settings/
.classpath
.project

# test generated xml files #
etc/samples/default/

# test generated reports
bagri-test/*/output/
bagri-test/*/xml/

# catalog files #
*.xdb

# Idea Files #
*.iml
*.ipr
*.iws
