<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ns2:config xmlns:ns2="http://www.bagri.com/xdm/system">
    <nodes>
        <node name="admin">
            <version>1</version>
            <createdAt>2014-05-24T17:54:42.221+04:00</createdAt>
            <createdBy>Denis</createdBy>
            <options>
                <entry name="xdm.cluster.node.role">admin</entry>
            </options>
        </node>
        <node name="first">
            <version>3</version>
            <createdAt>2014-06-11T02:15:20.792+04:00</createdAt>
            <createdBy>Denis</createdBy>
            <options>
                <entry name="xdm.cluster.node.schemas">TPoX</entry>
                <entry name="xdm.cluster.node.role">server</entry>
            </options>
        </node>
    </nodes>
    <schemas>
        <!--schema name="Test" active="true">
            <version>1</version>
            <createdAt>2014-04-21T14:40:58.096+04:00</createdAt>
            <createdBy>SDV</createdBy>
            <description>Test schema</description>
            <properties>
                <entry name="xdm.schema.store.type">MONGO</entry>
                <entry name="xdm.schema.ports">10200-10300</entry>
                <entry name="xdm.schema.store.host">localhost</entry>
                <entry name="xdm.schema.password">Test</entry>
                <entry name="xdm.schema.store.port">27017</entry>
                <entry name="xdm.schema.ports.start">10200</entry>
                <entry name="xdm.schema.members">localhost</entry>
                <entry name="xdm.schema.thread.pool">10</entry>
                <entry name="xdm.schema.store.dbname">test</entry>
            </properties>
        </schema-->
        <schema name="TPoX" active="true">
            <version>1</version>
            <createdAt>2014-04-21T14:40:58.096+04:00</createdAt>
            <createdBy>SDV</createdBy>
            <description>TPoX: schema for TPoX-related tests</description>
            <properties>
                <entry name="xqj.schema.orderingMode">ORDERING_MODE_UNORDERED</entry>
                <entry name="xqj.schema.defaultCollationUri"></entry>
                <entry name="xqj.schema.constructionMode">CONSTRUCTION_MODE_PRESERVE</entry>
                <entry name="xqj.schema.bindingMode">BINDING_MODE_IMMEDIATE</entry>
                <entry name="xqj.schema.scrollability">SCROLLTYPE_FORWARD_ONLY</entry>
                <entry name="xdm.schema.ports.first">10000</entry>
                <entry name="xdm.schema.ports.last">10100</entry>
                <entry name="xqj.schema.defaultOrderForEmptySequences">DEFAULT_ORDER_FOR_EMPTY_SEQUENCES_LEAST</entry>
                <entry name="xqj.schema.copyNamespacesModePreserve">COPY_NAMESPACES_MODE_PRESERVE</entry>
                <entry name="xdm.schema.members">localhost</entry>
                <entry name="xdm.schema.thread.pool">16</entry>
                <entry name="xqj.schema.queryLanguageTypeAndVersion">LANGTYPE_XQUERY</entry>
                <entry name="xqj.schema.defaultElementTypeNamespace"></entry>
                <entry name="xqj.schema.queryTimeout">0</entry>
                <entry name="xdm.schema.store.data.path">../../etc/samples/tpox</entry>
                <entry name="xqj.schema.baseUri">file:///C:/Work/Bagri/git/bagri/etc/samples/tpox/</entry>
                <entry name="xdm.schema.store.type">XML</entry>
                <entry name="xqj.schema.holdability">HOLDTYPE_CLOSE_CURSORS_AT_COMMIT</entry>
                <entry name="xqj.schema.copyNamespacesModeInherit">COPY_NAMESPACES_MODE_INHERIT</entry>
                <entry name="xqj.schema.boundarySpacePolicy">BOUNDARY_SPACE_PRESERVE</entry>
                <entry name="xdm.schema.store.schema.path">C:\Work\Bagri\git\bagri\etc\samples\tpox</entry>
                <entry name="xqj.schema.defaultFunctionNamespace">fn</entry>
                <entry name="xdm.schema.password">TPoX</entry>
                <entry name="xdm.schema.partition.count">271</entry>
                <entry name="xdm.schema.population.size">1</entry>
            </properties>
        </schema>
        <schema name="TPoX2" active="true">
            <version>1</version>
            <createdAt>2014-09-27T15:00:58.096+04:00</createdAt>
            <createdBy>SDV</createdBy>
            <description>TPoX: transient schema for TPoX-related tests; no persistent store</description>
            <properties>
                <entry name="xqj.schema.orderingMode">ORDERING_MODE_UNORDERED</entry>
                <entry name="xqj.schema.defaultCollationUri"></entry>
                <entry name="xqj.schema.constructionMode">CONSTRUCTION_MODE_PRESERVE</entry>
                <entry name="xqj.schema.bindingMode">BINDING_MODE_IMMEDIATE</entry>
                <entry name="xqj.schema.scrollability">SCROLLTYPE_FORWARD_ONLY</entry>
                <entry name="xdm.schema.ports.first">10500</entry>
                <entry name="xdm.schema.ports.last">10600</entry>
                <entry name="xqj.schema.defaultOrderForEmptySequences">DEFAULT_ORDER_FOR_EMPTY_SEQUENCES_LEAST</entry>
                <entry name="xqj.schema.copyNamespacesModePreserve">COPY_NAMESPACES_MODE_PRESERVE</entry>
                <!--entry name="xdm.schema.members">192.168.1.87, 192.168.1.100, 192.168.1.200</entry-->
                <!--entry name="xdm.schema.members">192.168.1.100</entry-->
                <entry name="xdm.schema.members">localhost</entry>
                <entry name="xdm.schema.thread.pool">16</entry>
                <entry name="xqj.schema.queryLanguageTypeAndVersion">LANGTYPE_XQUERY</entry>
                <entry name="xqj.schema.defaultElementTypeNamespace"></entry>
                <entry name="xqj.schema.queryTimeout">0</entry>
                <entry name="xdm.schema.store.data.path">../../etc/samples/tpox2</entry>
                <entry name="xqj.schema.baseUri">file:///C:/Work/Bagri/git/bagri/etc/samples/tpox2/</entry>
                <entry name="xdm.schema.store.type">NONE</entry>
                <entry name="xqj.schema.holdability">HOLDTYPE_CLOSE_CURSORS_AT_COMMIT</entry>
                <entry name="xqj.schema.copyNamespacesModeInherit">COPY_NAMESPACES_MODE_INHERIT</entry>
                <entry name="xqj.schema.boundarySpacePolicy">BOUNDARY_SPACE_PRESERVE</entry>
                <entry name="xdm.schema.store.schema.path"></entry>
                <entry name="xqj.schema.defaultFunctionNamespace"></entry>
                <entry name="xdm.schema.password">TPoX2</entry>
                <entry name="xdm.schema.partition.count">971</entry>
                <entry name="xdm.schema.population.size">1</entry>
            </properties>
        </schema>
        <schema name="XMark" active="true">
            <version>2</version>
            <createdAt>2014-07-15T01:13:04.416+04:00</createdAt>
            <createdBy>Denis</createdBy>
            <description>XMark benchmark schema</description>
            <properties>
                <entry name="xqj.schema.orderingMode">ORDERING_MODE_UNORDERED</entry>
                <entry name="xqj.schema.defaultCollationUri"></entry>
                <entry name="xqj.schema.constructionMode">CONSTRUCTION_MODE_PRESERVE</entry>
                <entry name="xqj.schema.bindingMode">BINDING_MODE_IMMEDIATE</entry>
                <entry name="xqj.schema.scrollability">SCROLLTYPE_FORWARD_ONLY</entry>
                <entry name="xdm.schema.ports.first">20000</entry>
                <entry name="xdm.schema.ports.last">20010</entry>
                <entry name="xqj.schema.defaultOrderForEmptySequences">DEFAULT_ORDER_FOR_EMPTY_SEQUENCES_LEAST</entry>
                <entry name="xqj.schema.copyNamespacesModePreserve">COPY_NAMESPACES_MODE_PRESERVE</entry>
                <entry name="xdm.schema.members">localhost</entry>
                <entry name="xdm.schema.thread.pool">10</entry>
                <entry name="xqj.schema.queryLanguageTypeAndVersion">LANGTYPE_XQUERY</entry>
                <entry name="xqj.schema.defaultElementTypeNamespace"></entry>
                <entry name="xqj.schema.queryTimeout">0</entry>
                <entry name="xdm.schema.store.data.path">../../etc/samples/xmark</entry>
                <entry name="xqj.schema.baseUri">file:///C:/Work/Bagri/git/bagri/etc/samples/xmark/</entry>
                <entry name="xdm.schema.store.type">XML</entry>
                <entry name="xqj.schema.holdability">HOLDTYPE_CLOSE_CURSORS_AT_COMMIT</entry>
                <entry name="xqj.schema.copyNamespacesModeInherit">COPY_NAMESPACES_MODE_INHERIT</entry>
                <entry name="xqj.schema.boundarySpacePolicy">BOUNDARY_SPACE_PRESERVE</entry>
                <entry name="xqj.schema.defaultFunctionNamespace">fn</entry>
                <entry name="xdm.schema.password">XMark</entry>
                <entry name="xdm.schema.name">XMark</entry>
                <entry name="xdm.schema.partition.count">271</entry>
                <entry name="xdm.schema.population.size">1</entry>
            </properties>
        </schema>
        <schema name="XDM" active="true">
            <version>1</version>
            <createdAt>2014-10-06T21:30:58.096+04:00</createdAt>
            <createdBy>SDV</createdBy>
            <description>Catalog: schema from XDM spec</description>
            <properties>
                <entry name="xqj.schema.orderingMode">ORDERING_MODE_UNORDERED</entry>
                <entry name="xqj.schema.defaultCollationUri"></entry>
                <entry name="xqj.schema.constructionMode">CONSTRUCTION_MODE_PRESERVE</entry>
                <entry name="xqj.schema.bindingMode">BINDING_MODE_IMMEDIATE</entry>
                <entry name="xqj.schema.scrollability">SCROLLTYPE_FORWARD_ONLY</entry>
                <entry name="xdm.schema.ports.first">10050</entry>
                <entry name="xdm.schema.ports.last">10060</entry>
                <entry name="xqj.schema.defaultOrderForEmptySequences">DEFAULT_ORDER_FOR_EMPTY_SEQUENCES_LEAST</entry>
                <entry name="xqj.schema.copyNamespacesModePreserve">COPY_NAMESPACES_MODE_PRESERVE</entry>
                <entry name="xdm.schema.members">localhost</entry>
                <entry name="xdm.schema.thread.pool">10</entry>
                <entry name="xqj.schema.queryLanguageTypeAndVersion">LANGTYPE_XQUERY</entry>
                <entry name="xqj.schema.defaultElementTypeNamespace"></entry>
                <entry name="xqj.schema.queryTimeout">0</entry>
                <entry name="xdm.schema.store.data.path">../../etc/samples/xdm</entry>
                <entry name="xqj.schema.baseUri">file:///C:/Work/Bagri/git/bagri/etc/samples/xdm/</entry>
                <entry name="xdm.schema.store.type">XML</entry>
                <entry name="xqj.schema.holdability">HOLDTYPE_CLOSE_CURSORS_AT_COMMIT</entry>
                <entry name="xqj.schema.copyNamespacesModeInherit">COPY_NAMESPACES_MODE_INHERIT</entry>
                <entry name="xqj.schema.boundarySpacePolicy">BOUNDARY_SPACE_PRESERVE</entry>
                <entry name="xdm.schema.store.schema.path">C:\Work\Bagri\git\bagri\etc\samples\xdm</entry>
                <entry name="xqj.schema.defaultFunctionNamespace">fn</entry>
                <entry name="xdm.schema.password">XDM</entry>
                <entry name="xdm.schema.partition.count">157</entry>
                <entry name="xdm.schema.population.size">1</entry>
            </properties>
        </schema>
    </schemas>
</ns2:config>
