<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ns2:config xmlns:ns2="http://www.bagridb.com/schema/system">
    <nodes>
        <node name="admin">
            <version>1</version>
            <createdAt>2014-05-24T17:54:42.221+04:00</createdAt>
            <createdBy>Denis</createdBy>
            <options>
                <entry name="bdb.cluster.node.role">admin</entry>
            </options>
        </node>
        <node name="cache">
            <version>3</version>
            <createdAt>2014-06-11T02:15:20.792+04:00</createdAt>
            <createdBy>Denis</createdBy>
            <options>
                <entry name="bdb.cluster.node.schemas">default</entry>
                <entry name="bdb.cluster.node.role">server</entry>
            </options>
        </node>
    </nodes>
    <schemas>
        <schema name="YCSB" active="true">
            <version>1</version>
            <createdAt>2016-01-26T21:30:58.096+04:00</createdAt>
            <createdBy>SDV</createdBy>
            <description>Schema for YCSB Benchmark</description>
            <properties>
                <entry name="bdb.schema.password">password</entry>
                <entry name="bdb.schema.multicast.enabled">false</entry>
                <entry name="bdb.schema.tcp.enabled">true</entry>
                <entry name="bdb.schema.aws.enabled">false</entry>
                <entry name="bdb.schema.connect.timeout">5</entry>
                <entry name="bdb.schema.store.tx.buffer.size">1024</entry>
                <entry name="bdb.schema.data.backup.read">false</entry>
                <entry name="bdb.schema.trans.backup.async">0</entry>
                <entry name="bdb.schema.store.enabled">false</entry>
                <entry name="bdb.schema.thread.pool">10</entry>
                <entry name="bdb.schema.data.cache">NEVER</entry>
                <entry name="bdb.schema.data.stats.enabled">false</entry>
                <entry name="bdb.schema.query.cache">true</entry>
                <entry name="bdb.schema.ports.first">10150</entry>
                <entry name="bdb.schema.format.default">XML</entry>
                <entry name="bdb.schema.ports.last">10160</entry>
                <entry name="bdb.schema.population.size">1</entry>
                <entry name="bdb.schema.population.buffer.size">1000000</entry>
                <entry name="bdb.schema.data.backup.async">1</entry>
                <entry name="bdb.schema.store.data.path">../../etc/samples/ycsb</entry>
                <entry name="bdb.schema.dict.backup.sync">0</entry>
                <entry name="bdb.schema.trans.backup.sync">1</entry>
                <entry name="bdb.schema.query.backup.sync">0</entry>
                <entry name="bdb.schema.buffer.size">16</entry>
                <entry name="bdb.schema.dict.backup.async">1</entry>
                <entry name="bdb.schema.dict.backup.read">true</entry>
                <entry name="bdb.schema.trans.backup.read">false</entry>
                <entry name="bdb.schema.query.backup.async">0</entry>
                <entry name="bdb.schema.members">localhost</entry>
                <entry name="bdb.schema.data.backup.sync">0</entry>
                <entry name="bdb.schema.partition.count">157</entry>
                <entry name="bdb.schema.query.backup.read">true</entry>
		<entry name="bdb.schema.transaction.timeout">0</entry>
                <entry name="bdb.schema.health.threshold.low">25</entry>
                <entry name="bdb.schema.health.threshold.high">0</entry>
                <entry name="bdb.schema.query.parallel">true</entry>
                <entry name="bdb.schema.partition.pool">32</entry>
                <entry name="xqj.schema.baseUri">file:/C:/Work/Bagri/git/bagri/etc/samples/ycsb/</entry>
                <entry name="xqj.schema.orderingMode">2</entry>
                <entry name="xqj.schema.queryLanguageTypeAndVersion">1</entry>
                <entry name="xqj.schema.bindingMode">0</entry>
                <entry name="xqj.schema.boundarySpacePolicy">1</entry>
                <entry name="xqj.schema.scrollability">1</entry>
                <entry name="xqj.schema.holdability">2</entry>
                <entry name="xqj.schema.copyNamespacesModePreserve">1</entry>
                <entry name="xqj.schema.queryTimeout">0</entry>
                <entry name="xqj.schema.defaultFunctionNamespace"></entry>
                <entry name="xqj.schema.defaultElementTypeNamespace"></entry>
                <entry name="xqj.schema.copyNamespacesModeInherit">1</entry>
                <entry name="xqj.schema.defaultOrderForEmptySequences">2</entry>
                <entry name="xqj.schema.defaultCollationUri">http://www.w3.org/2005/xpath-functions/collation/codepoint</entry>
                <entry name="xqj.schema.constructionMode">1</entry>
            </properties>
            <collections>
                <collection id="1" name="usertable">
                    <version>1</version>
                    <createdAt>2016-05-10T01:01:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <!--docType></docType-->
                    <description>YCSB default collection</description>
                    <enabled>true</enabled>
                </collection>
            </collections>
            <fragments/>
            <indexes/>
            <triggers/>
        </schema>
        <schema name="TPoX-J" active="true">
            <version>1</version>
            <createdAt>2015-04-22T13:36:26.965+03:00</createdAt>
            <createdBy>SDV</createdBy>
            <description>TPoX-J: schema for TPoX-related tests; JSON data format</description>
            <properties>
                <entry name="bdb.schema.password">TPoX-J</entry>
                <entry name="bdb.schema.multicast.enabled">false</entry>
                <entry name="bdb.schema.tcp.enabled">true</entry>
                <entry name="bdb.schema.aws.enabled">false</entry>
                <entry name="bdb.schema.connect.timeout">5</entry>
                <entry name="bdb.schema.data.backup.read">false</entry>
                <entry name="bdb.schema.trans.backup.async">0</entry>
                <entry name="bdb.schema.store.tx.buffer.size">1024</entry>
                <entry name="bdb.schema.store.enabled">true</entry>
                <entry name="bdb.schema.thread.pool">8</entry>
                <entry name="bdb.schema.data.cache">INDEX-ONLY</entry>
                <entry name="bdb.schema.data.stats.enabled">true</entry>
                <entry name="bdb.schema.query.cache">true</entry>
                <entry name="bdb.schema.ports.first">10700</entry>
                <entry name="bdb.schema.format.default">JSON</entry>
                <entry name="bdb.schema.store.type">File</entry>
                <entry name="bdb.schema.ports.last">10800</entry>
                <entry name="bdb.schema.population.size">1</entry>
                <entry name="bdb.schema.population.buffer.size">100000</entry>
                <entry name="bdb.schema.data.backup.async">1</entry>
                <entry name="bdb.schema.store.data.path">../../etc/samples/json</entry>
                <entry name="bdb.schema.dict.backup.sync">0</entry>
                <entry name="bdb.schema.trans.backup.sync">1</entry>
                <entry name="bdb.schema.query.backup.sync">0</entry>
                <entry name="bdb.schema.buffer.size">128</entry>
                <entry name="bdb.schema.dict.backup.async">1</entry>
                <entry name="bdb.schema.dict.backup.read">true</entry>
                <entry name="bdb.schema.trans.backup.read">false</entry>
                <entry name="bdb.schema.query.backup.async">0</entry>
                <entry name="bdb.schema.members">localhost</entry>
                <entry name="bdb.schema.data.backup.sync">0</entry>
                <entry name="bdb.schema.query.backup.read">true</entry>
                <entry name="bdb.schema.partition.count">271</entry>
		<entry name="bdb.schema.transaction.timeout">0</entry>
                <entry name="bdb.schema.health.threshold.low">25</entry>
                <entry name="bdb.schema.health.threshold.high">0</entry>
                <entry name="bdb.schema.query.parallel">true</entry>
                <entry name="bdb.schema.partition.pool">32</entry>
                <entry name="xqj.schema.baseUri">file:/C:/Work/Bagri/git/bagri/etc/samples/json/</entry>
                <entry name="xqj.schema.orderingMode">2</entry>
                <entry name="xqj.schema.queryLanguageTypeAndVersion">1</entry>
                <entry name="xqj.schema.bindingMode">0</entry>
                <entry name="xqj.schema.boundarySpacePolicy">1</entry>
                <entry name="xqj.schema.scrollability">1</entry>
                <entry name="xqj.schema.holdability">2</entry>
                <entry name="xqj.schema.copyNamespacesModePreserve">1</entry>
                <entry name="xqj.schema.queryTimeout">0</entry>
                <entry name="xqj.schema.defaultFunctionNamespace">http://www.w3.org/2005/xpath-functions/map</entry>
                <entry name="xqj.schema.defaultElementTypeNamespace"></entry>
                <entry name="xqj.schema.copyNamespacesModeInherit">1</entry>
                <entry name="xqj.schema.defaultOrderForEmptySequences">2</entry>
                <entry name="xqj.schema.defaultCollationUri">http://www.w3.org/2005/xpath-functions/collation/codepoint</entry>
                <entry name="xqj.schema.constructionMode">1</entry>
            </properties>
            <fragments/>
            <indexes/>
            <triggers/>
        </schema>
        <schema name="XDM" active="true">
            <version>1</version>
            <createdAt>2014-10-06T21:30:58.096+04:00</createdAt>
            <createdBy>SDV</createdBy>
            <description>Catalog: schema from XDM spec</description>
            <properties>
                <entry name="bdb.schema.password">XDM</entry>
                <entry name="bdb.schema.multicast.enabled">false</entry>
                <entry name="bdb.schema.tcp.enabled">true</entry>
                <entry name="bdb.schema.aws.enabled">false</entry>
                <entry name="bdb.schema.connect.timeout">5</entry>
                <entry name="bdb.schema.store.tx.buffer.size">1024</entry>
                <entry name="bdb.schema.data.backup.read">false</entry>
                <entry name="bdb.schema.trans.backup.async">0</entry>
                <entry name="bdb.schema.store.enabled">true</entry>
                <entry name="bdb.schema.thread.pool">10</entry>
                <entry name="bdb.schema.query.cache">true</entry>
                <entry name="bdb.schema.ports.first">10050</entry>
                <entry name="bdb.schema.format.default">XML</entry>
                <entry name="bdb.schema.store.type">File</entry>
                <entry name="bdb.schema.data.cache">INDEX-ONLY</entry>
                <entry name="bdb.schema.data.stats.enabled">true</entry>
                <entry name="bdb.schema.ports.last">10060</entry>
                <entry name="bdb.schema.population.size">1</entry>
                <entry name="bdb.schema.population.buffer.size">100000</entry>
                <entry name="bdb.schema.data.backup.async">1</entry>
                <entry name="bdb.schema.store.data.path">../../etc/samples/xdm</entry>
                <entry name="bdb.schema.dict.backup.sync">0</entry>
                <entry name="bdb.schema.trans.backup.sync">1</entry>
                <entry name="bdb.schema.query.backup.sync">0</entry>
                <entry name="bdb.schema.buffer.size">16</entry>
                <entry name="bdb.schema.dict.backup.async">1</entry>
                <entry name="bdb.schema.dict.backup.read">true</entry>
                <entry name="bdb.schema.trans.backup.read">false</entry>
                <entry name="bdb.schema.query.backup.async">0</entry>
                <entry name="bdb.schema.members">localhost</entry>
                <entry name="bdb.schema.data.backup.sync">0</entry>
                <entry name="bdb.schema.partition.count">157</entry>
                <entry name="bdb.schema.query.backup.read">true</entry>
		<entry name="bdb.schema.transaction.timeout">0</entry>
                <entry name="bdb.schema.health.threshold.low">25</entry>
                <entry name="bdb.schema.health.threshold.high">0</entry>
                <entry name="bdb.schema.query.parallel">true</entry>
                <entry name="bdb.schema.partition.pool">32</entry>
                <entry name="xqj.schema.baseUri">file:/C:/Work/Bagri/git/bagri/etc/samples/xdm/</entry>
                <entry name="xqj.schema.orderingMode">2</entry>
                <entry name="xqj.schema.queryLanguageTypeAndVersion">1</entry>
                <entry name="xqj.schema.bindingMode">0</entry>
                <entry name="xqj.schema.boundarySpacePolicy">1</entry>
                <entry name="xqj.schema.scrollability">1</entry>
                <entry name="xqj.schema.holdability">2</entry>
                <entry name="xqj.schema.copyNamespacesModePreserve">1</entry>
                <entry name="xqj.schema.queryTimeout">0</entry>
                <entry name="xqj.schema.defaultFunctionNamespace"></entry>
                <entry name="xqj.schema.defaultElementTypeNamespace"></entry>
                <entry name="xqj.schema.copyNamespacesModeInherit">1</entry>
                <entry name="xqj.schema.defaultOrderForEmptySequences">2</entry>
                <entry name="xqj.schema.defaultCollationUri">http://www.w3.org/2005/xpath-functions/collation/codepoint</entry>
                <entry name="xqj.schema.constructionMode">1</entry>
            </properties>
            <fragments/>
            <indexes/>
            <triggers/>
        </schema>
        <schema name="TPoX" active="true">
            <version>1</version>
            <createdAt>2014-04-21T14:40:58.096+04:00</createdAt>
            <createdBy>SDV</createdBy>
            <description>TPoX: schema for TPoX-related tests</description>
            <properties>
                <entry name="bdb.schema.password">TPoX</entry>
                <entry name="bdb.schema.multicast.enabled">false</entry>
                <entry name="bdb.schema.tcp.enabled">true</entry>
                <entry name="bdb.schema.aws.enabled">false</entry>
                <entry name="bdb.schema.connect.timeout">5</entry>
                <entry name="bdb.schema.data.backup.read">false</entry>
                <entry name="bdb.schema.trans.backup.async">0</entry>
                <entry name="bdb.schema.store.enabled">true</entry>
                <entry name="bdb.schema.store.tx.buffer.size">2048</entry>
                <entry name="bdb.schema.thread.pool">16</entry>
                <entry name="bdb.schema.query.cache">true</entry>
                <entry name="bdb.schema.ports.first">10000</entry>
                <entry name="bdb.schema.format.default">XML</entry>
                <entry name="bdb.schema.data.cache">NEVER</entry>
                <entry name="bdb.schema.data.stats.enabled">true</entry>
                <entry name="bdb.schema.store.type">File</entry>
                <entry name="bdb.schema.ports.last">10100</entry>
                <entry name="bdb.schema.population.size">1</entry>
                <entry name="bdb.schema.population.buffer.size">100000</entry>
                <entry name="bdb.schema.data.backup.async">1</entry>
                <entry name="bdb.schema.store.data.path">../../etc/samples/tpox</entry>
                <entry name="bdb.schema.dict.backup.sync">0</entry>
                <entry name="bdb.schema.trans.backup.sync">1</entry>
                <entry name="bdb.schema.query.backup.sync">0</entry>
                <entry name="bdb.schema.buffer.size">64</entry>
                <entry name="bdb.schema.dict.backup.async">1</entry>
                <entry name="bdb.schema.dict.backup.read">true</entry>
                <entry name="bdb.schema.trans.backup.read">false</entry>
                <entry name="bdb.schema.query.backup.async">0</entry>
                <entry name="bdb.schema.members">localhost</entry>
                <entry name="bdb.schema.data.backup.sync">0</entry>
                <entry name="bdb.schema.query.backup.read">true</entry>
                <entry name="bdb.schema.partition.count">271</entry>
		<entry name="bdb.schema.transaction.timeout">0</entry>
                <entry name="bdb.schema.health.threshold.low">25</entry>
                <entry name="bdb.schema.health.threshold.high">0</entry>
                <entry name="bdb.schema.query.parallel">true</entry>
                <entry name="bdb.schema.partition.pool">32</entry>
                <entry name="xqj.schema.baseUri">file:/C:/Work/Bagri/git/bagri/etc/samples/tpox/</entry>
                <entry name="xqj.schema.orderingMode">2</entry>
                <entry name="xqj.schema.queryLanguageTypeAndVersion">1</entry>
                <entry name="xqj.schema.bindingMode">0</entry>
                <entry name="xqj.schema.boundarySpacePolicy">1</entry>
                <entry name="xqj.schema.scrollability">1</entry>
                <entry name="xqj.schema.holdability">2</entry>
                <entry name="xqj.schema.copyNamespacesModePreserve">1</entry>
                <entry name="xqj.schema.queryTimeout">0</entry>
                <entry name="xqj.schema.defaultFunctionNamespace"></entry>
                <entry name="xqj.schema.defaultElementTypeNamespace"></entry>
                <entry name="xqj.schema.copyNamespacesModeInherit">1</entry>
                <entry name="xqj.schema.defaultOrderForEmptySequences">2</entry>
                <entry name="xqj.schema.defaultCollationUri">http://www.w3.org/2005/xpath-functions/collation/codepoint</entry>
                <entry name="xqj.schema.constructionMode">1</entry>
            </properties>
            <collections>
                <collection id="1" name="CLN_Security">
                    <version>1</version>
                    <createdAt>2015-10-20T01:01:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <docType>/{http://tpox-benchmark.com/security}Security</docType>
                    <description>All security documents</description>
                    <enabled>true</enabled>
                </collection>
                <collection id="2" name="CLN_Customer">
                    <version>1</version>
                    <createdAt>2015-10-20T01:01:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <docType>/{http://tpox-benchmark.com/custacc}Customer</docType>
                    <description>All customer documents</description>
                    <enabled>true</enabled>
                </collection>
                <collection id="3" name="CLN_Order">
                    <version>1</version>
                    <createdAt>2015-10-20T01:01:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <docType>/{http://www.fixprotocol.org/FIXML-4-4}FIXML</docType>
                    <description>All order documents</description>
                    <enabled>true</enabled>
                </collection>
                <collection id="4" name="CLN_Custom">
                    <version>1</version>
                    <createdAt>2015-10-20T01:01:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <!--docType></docType-->
                    <description>Custom collection</description>
                    <enabled>true</enabled>
                </collection>
            </collections>
            <fragments/>
            <indexes>
                <index name="IDX_Customer_id">
                    <version>1</version>
                    <createdAt>2015-01-25T13:36:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <docType>/{http://tpox-benchmark.com/custacc}Customer</docType>
                    <path>/{http://tpox-benchmark.com/custacc}Customer/@id</path>
                    <dataType xmlns:xs="http://www.w3.org/2001/XMLSchema">xs:string</dataType>
                    <unique>true</unique>
                    <description>Customer id</description>
                    <enabled>true</enabled>
                </index>
                <index name="IDX_Security_Symbol">
                    <version>1</version>
                    <createdAt>2015-01-25T13:36:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <docType>/{http://tpox-benchmark.com/security}Security</docType>
                    <path>/{http://tpox-benchmark.com/security}Security/{http://tpox-benchmark.com/security}Symbol/text()</path>
                    <dataType xmlns:xs="http://www.w3.org/2001/XMLSchema">xs:string</dataType>
                    <unique>true</unique>
                    <description>Security Symbol</description>
                    <enabled>true</enabled>
                </index>
                <index name="IDX_Order_ID">
                    <version>1</version>
                    <createdAt>2015-01-25T13:36:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <docType>/{http://www.fixprotocol.org/FIXML-4-4}FIXML</docType>
                    <path>/{http://www.fixprotocol.org/FIXML-4-4}FIXML/{http://www.fixprotocol.org/FIXML-4-4}Order/@ID</path>
                    <dataType xmlns:xs="http://www.w3.org/2001/XMLSchema">xs:string</dataType>
                    <unique>true</unique>
                    <description>Order ID</description>
                    <enabled>true</enabled>
                </index>
            </indexes>
            <resources>
                <resource name="tpox">
                    <createdAt>2016-10-04T13:36:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <path>/tpox</path>
                    <module>rest_module</module>
                    <description>TPoX resource exposed via REST</description>
                    <enabled>true</enabled>
                </resource>
            </resources>
            <triggers/>
        </schema>
        <schema name="default" active="true">
            <version>1</version>
            <createdAt>2014-09-27T15:00:58.096+04:00</createdAt>
            <createdBy>SDV</createdBy>
            <description>default schema for test and demo purpose</description>
            <properties>
                <entry name="bdb.schema.password">password</entry>
                <!--entry name="bdb.schema.password">5f4dcc3b5aa765d61d8327deb882cf99</entry-->
                <entry name="bdb.schema.multicast.enabled">false</entry>
                <entry name="bdb.schema.tcp.enabled">true</entry>
                <entry name="bdb.schema.aws.enabled">false</entry>
                <entry name="bdb.schema.connect.timeout">5</entry>
                <entry name="bdb.schema.data.backup.read">false</entry>
                <entry name="bdb.schema.trans.backup.async">0</entry>
                <entry name="bdb.schema.store.enabled">false</entry>
                <entry name="bdb.schema.store.tx.buffer.size">2048</entry>
                <entry name="bdb.schema.thread.pool">16</entry>
                <entry name="bdb.schema.query.cache">true</entry>
                <entry name="bdb.schema.ports.first">10500</entry>
                <entry name="bdb.schema.format.default">XML</entry>
                <entry name="bdb.schema.ports.last">10600</entry>
                <entry name="bdb.schema.population.size">1</entry>
                <entry name="bdb.schema.population.buffer.size">1000000</entry>
                <entry name="bdb.schema.data.backup.async">1</entry>
                <entry name="bdb.schema.data.cache">NEVER</entry>
                <entry name="bdb.schema.data.stats.enabled">true</entry>
                <entry name="bdb.schema.store.data.path">../../etc/samples/default</entry>
                <entry name="bdb.schema.dict.backup.sync">0</entry>
                <entry name="bdb.schema.trans.backup.sync">1</entry>
                <entry name="bdb.schema.query.backup.sync">0</entry>
                <entry name="bdb.schema.buffer.size">64</entry>
                <entry name="bdb.schema.dict.backup.async">1</entry>
                <entry name="bdb.schema.dict.backup.read">true</entry>
                <entry name="bdb.schema.trans.backup.read">false</entry>
                <entry name="bdb.schema.query.backup.async">0</entry>
                <entry name="bdb.schema.members">localhost</entry>
                <entry name="bdb.schema.data.backup.sync">0</entry>
                <entry name="bdb.schema.query.backup.read">true</entry>
		<entry name="bdb.schema.transaction.timeout">60000</entry>
                <entry name="bdb.schema.partition.count">271</entry>
                <entry name="bdb.schema.health.threshold.low">25</entry>
                <entry name="bdb.schema.health.threshold.high">5</entry>
                <entry name="bdb.schema.query.parallel">true</entry>
                <entry name="bdb.schema.partition.pool">32</entry>
                <entry name="xqj.schema.baseUri">file:/C:/Work/Bagri/git/bagri/etc/samples/default/</entry>
                <entry name="xqj.schema.orderingMode">2</entry>
                <entry name="xqj.schema.queryLanguageTypeAndVersion">1</entry>
                <entry name="xqj.schema.bindingMode">0</entry>
                <entry name="xqj.schema.boundarySpacePolicy">1</entry>
                <entry name="xqj.schema.scrollability">1</entry>
                <entry name="xqj.schema.holdability">2</entry>
                <entry name="xqj.schema.copyNamespacesModePreserve">1</entry>
                <entry name="xqj.schema.queryTimeout">0</entry>
                <entry name="xqj.schema.defaultFunctionNamespace">http://www.w3.org/2005/xpath-functions</entry>
                <entry name="xqj.schema.defaultElementTypeNamespace"></entry>
                <entry name="xqj.schema.copyNamespacesModeInherit">1</entry>
                <entry name="xqj.schema.defaultOrderForEmptySequences">2</entry>
                <entry name="xqj.schema.defaultCollationUri">http://www.w3.org/2005/xpath-functions/collation/codepoint</entry>
                <entry name="xqj.schema.constructionMode">1</entry>
            </properties>
            <collections>
                <collection id="1" name="CLN_Security">
                    <version>1</version>
                    <createdAt>2015-10-20T01:01:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <docType>/{http://tpox-benchmark.com/security}Security</docType>
                    <description>All security documents</description>
                    <enabled>true</enabled>
                </collection>
                <collection id="2" name="CLN_Customer">
                    <version>1</version>
                    <createdAt>2015-10-20T01:01:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <docType>/{http://tpox-benchmark.com/custacc}Customer</docType>
                    <description>All customer documents</description>
                    <enabled>true</enabled>
                </collection>
                <collection id="3" name="CLN_Order">
                    <version>1</version>
                    <createdAt>2015-10-20T01:01:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <docType>/{http://www.fixprotocol.org/FIXML-4-4}FIXML</docType>
                    <description>All order documents</description>
                    <enabled>true</enabled>
                </collection>
            </collections>
            <fragments/>
            <indexes>
                <index name="IDX_Customer_id">
                    <version>1</version>
                    <createdAt>2015-01-25T13:36:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <docType>/{http://tpox-benchmark.com/custacc}Customer</docType>
                    <path>/{http://tpox-benchmark.com/custacc}Customer/@id</path>
                    <dataType xmlns:xs="http://www.w3.org/2001/XMLSchema">xs:string</dataType>
                    <unique>true</unique>
                    <description>Customer id</description>
                    <enabled>false</enabled>
                </index>
                <index name="IDX_Security_Symbol">
                    <version>1</version>
                    <createdAt>2015-01-25T13:36:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <docType>/{http://tpox-benchmark.com/security}Security</docType>
                    <path>/{http://tpox-benchmark.com/security}Security/{http://tpox-benchmark.com/security}Symbol/text()</path>
                    <dataType xmlns:xs="http://www.w3.org/2001/XMLSchema">xs:string</dataType>
                    <unique>true</unique>
                    <description>Security Symbol</description>
                    <enabled>true</enabled>
                </index>
                <index name="IDX_Security_Sector">
                    <version>1</version>
                    <createdAt>2015-01-25T13:36:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <docType>/{http://tpox-benchmark.com/security}Security</docType>
                    <path>/{http://tpox-benchmark.com/security}Security/{http://tpox-benchmark.com/security}SecurityInformation/*/{http://tpox-benchmark.com/security}Sector/text()</path>
                    <dataType xmlns:xs="http://www.w3.org/2001/XMLSchema">xs:string</dataType>
                    <unique>false</unique>
                    <description>Security Sector</description>
                    <enabled>true</enabled>
                </index>
                <!--index name="IDX_Security_PE">
                    <version>1</version>
                    <createdAt>2015-07-21T13:36:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <docType>/{http://tpox-benchmark.com/security}Security</docType>
                    <path>/{http://tpox-benchmark.com/security}Security/{http://tpox-benchmark.com/security}PE/text()</path>
                    <dataType xmlns:xs="http://www.w3.org/2001/XMLSchema">xs:float</dataType>
                    <range>true</range>
                    <unique>false</unique>
                    <description>Security PE</description>
                    <enabled>true</enabled>
                </index-->
                <index name="IDX_Security_Yield">
                    <version>1</version>
                    <createdAt>2015-07-21T13:36:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <docType>/{http://tpox-benchmark.com/security}Security</docType>
                    <path>/{http://tpox-benchmark.com/security}Security/{http://tpox-benchmark.com/security}Yield/text()</path>
                    <dataType xmlns:xs="http://www.w3.org/2001/XMLSchema">xs:decimal</dataType>
                    <range>true</range>
                    <unique>false</unique>
                    <description>Security Yield</description>
                    <enabled>true</enabled>
                </index>
                <index name="IDX_Order_ID">
                    <version>1</version>
                    <createdAt>2015-01-25T13:36:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <docType>/{http://www.fixprotocol.org/FIXML-4-4}FIXML</docType>
                    <path>/{http://www.fixprotocol.org/FIXML-4-4}FIXML/{http://www.fixprotocol.org/FIXML-4-4}Order/@ID</path>
                    <dataType xmlns:xs="http://www.w3.org/2001/XMLSchema">xs:string</dataType>
                    <unique>true</unique>
                    <description>Order ID</description>
                    <enabled>true</enabled>
                </index>
            </indexes>
            <triggers>
                <!--trigger xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="ns2:javatrigger">
                    <version>1</version>
                    <createdAt>2015-05-30T02:25:21.887+03:00</createdAt>
                    <createdBy>Denis</createdBy>
                    <docType>/{http://tpox-benchmark.com/security}Security</docType>
                    <synchronous>false</synchronous>
                    <enabled>true</enabled>
                    <index>1</index>
                    <actions>
                        <action order="after" scope="delete"/>
                        <action order="before" scope="insert"/>
                    </actions>
                    <library>trigger_library</library>
                    <className>com.bagri.samples.ext.trigger.SampleTrigger</className>
                </trigger>
                <trigger xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="ns2:javatrigger">
                    <version>1</version>
                    <createdAt>2015-06-27T02:25:21.887+03:00</createdAt>
                    <createdBy>Denis</createdBy>
                    <docType>/{http://tpox-benchmark.com/security}Security</docType>
                    <synchronous>true</synchronous>
                    <enabled>true</enabled>
                    <index>1</index>
                    <actions>
                        <action order="after" scope="insert"/>
                    </actions>
                    <library>trigger_library</library>
                    <className>com.bagri.samples.ext.trigger.SecurityTrigger</className>
                </trigger>
		<trigger xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="ns2:xqtrigger">
                    <version>1</version>
                    <createdAt>2015-06-11T09:44:20.184+03:00</createdAt>
                    <createdBy>Denis</createdBy>
                    <docType>/{http://tpox-benchmark.com/security}Security</docType>
                    <synchronous>false</synchronous>
                    <enabled>true</enabled>
                    <index>0</index>
                    <actions>
                        <action order="before" scope="delete"/>
                    </actions>
                    <module>trigger_module</module>
                    <function>bgdb:before-delete-security</function>
                </trigger-->
            </triggers>
        </schema>
        <schema name="XMark" active="true">
            <version>2</version>
            <createdAt>2014-07-15T01:13:04.416+04:00</createdAt>
            <createdBy>Denis</createdBy>
            <description>XMark benchmark schema</description>
            <properties>
                <entry name="bdb.schema.password">XMark</entry>
                <entry name="bdb.schema.multicast.enabled">false</entry>
                <entry name="bdb.schema.tcp.enabled">true</entry>
                <entry name="bdb.schema.aws.enabled">false</entry>
                <entry name="bdb.schema.connect.timeout">5</entry>
                <entry name="bdb.schema.data.backup.read">false</entry>
                <entry name="bdb.schema.trans.backup.async">0</entry>
                <entry name="bdb.schema.store.enabled">true</entry>
                <entry name="bdb.schema.store.tx.buffer.size">2048</entry>
                <entry name="bdb.schema.thread.pool">10</entry>
                <entry name="bdb.schema.query.cache">true</entry>
                <entry name="bdb.schema.ports.first">20000</entry>
                <entry name="bdb.schema.name">XMark</entry>
                <entry name="bdb.schema.data.cache">NEVER</entry>
                <entry name="bdb.schema.data.stats.enabled">false</entry>
                <entry name="bdb.schema.format.default">XML</entry>
                <entry name="bdb.schema.store.type">File</entry>
                <entry name="bdb.schema.ports.last">20010</entry>
                <entry name="bdb.schema.population.size">1</entry>
                <entry name="bdb.schema.population.buffer.size">100000</entry>
                <entry name="bdb.schema.data.backup.async">1</entry>
                <entry name="bdb.schema.store.data.path">../../etc/samples/xmark</entry>
                <entry name="bdb.schema.dict.backup.sync">0</entry>
                <entry name="bdb.schema.trans.backup.sync">1</entry>
                <entry name="bdb.schema.query.backup.sync">0</entry>
                <entry name="bdb.schema.buffer.size">256</entry>
                <entry name="bdb.schema.dict.backup.async">1</entry>
                <entry name="bdb.schema.dict.backup.read">true</entry>
                <entry name="bdb.schema.trans.backup.read">false</entry>
                <entry name="bdb.schema.query.backup.async">0</entry>
                <entry name="bdb.schema.members">localhost</entry>
                <entry name="bdb.schema.data.backup.sync">0</entry>
                <entry name="bdb.schema.query.backup.read">true</entry>
                <entry name="bdb.schema.partition.count">271</entry>
		<entry name="bdb.schema.transaction.timeout">0</entry>
                <entry name="bdb.schema.health.threshold.low">25</entry>
                <entry name="bdb.schema.health.threshold.high">0</entry>
                <entry name="bdb.schema.query.parallel">true</entry>
                <entry name="bdb.schema.partition.pool">32</entry>
                <entry name="xqj.schema.baseUri">file:/C:/Work/Bagri/git/bagri/etc/samples/xmark/</entry>
                <entry name="xqj.schema.orderingMode">2</entry>
                <entry name="xqj.schema.queryLanguageTypeAndVersion">1</entry>
                <entry name="xqj.schema.bindingMode">0</entry>
                <entry name="xqj.schema.boundarySpacePolicy">1</entry>
                <entry name="xqj.schema.scrollability">1</entry>
                <entry name="xqj.schema.holdability">2</entry>
                <entry name="xqj.schema.copyNamespacesModePreserve">1</entry>
                <entry name="xqj.schema.queryTimeout">0</entry>
                <entry name="xqj.schema.defaultFunctionNamespace">http://www.w3.org/2005/xpath-functions</entry>
                <entry name="xqj.schema.defaultElementTypeNamespace"></entry>
                <entry name="xqj.schema.copyNamespacesModeInherit">1</entry>
                <entry name="xqj.schema.defaultOrderForEmptySequences">2</entry>
                <entry name="xqj.schema.defaultCollationUri">http://www.w3.org/2005/xpath-functions/collation/codepoint</entry>
                <entry name="xqj.schema.constructionMode">1</entry>
            </properties>
	    <collections>
                <collection id="1" name="CLN_Site">
                    <version>1</version>
                    <createdAt>2016-01-12T01:01:26.965+03:00</createdAt>
                    <createdBy>Denis</createdBy>
                    <docType>/site</docType>
                    <description>site documents</description>
                    <enabled>true</enabled>
                </collection>
	    </collections>
            <fragments>
                <fragment name="FRA_Region_Item">
                    <version>1</version>
                    <createdAt>2015-09-02T10:05:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <docType>/site</docType>
                    <path>/site/regions/*/item</path>
                    <description>Auction Region Items</description>
                    <enabled>true</enabled>
                </fragment>
                <fragment name="FRA_Categories_Category">
                    <version>1</version>
                    <createdAt>2015-09-02T19:05:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <docType>/site</docType>
                    <path>/site/categories/category</path>
                    <description>Auction Categories</description>
                    <enabled>true</enabled>
                </fragment>
                <fragment name="FRA_People_Person">
                    <version>1</version>
                    <createdAt>2015-09-02T19:06:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <docType>/site</docType>
                    <path>/site/people/person</path>
                    <description>Auction Peoples</description>
                    <enabled>true</enabled>
                </fragment>
                <fragment name="FRA_Open_Auctions">
                    <version>1</version>
                    <createdAt>2015-09-02T19:07:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <docType>/site</docType>
                    <path>/site/open_auctions/open_auction</path>
                    <description>Open Auctions</description>
                    <enabled>true</enabled>
                </fragment>
                <fragment name="FRA_Closed_Auctions">
                    <version>1</version>
                    <createdAt>2015-09-02T19:08:26.965+03:00</createdAt>
                    <createdBy>SDV</createdBy>
                    <docType>/site</docType>
                    <path>/site/closed_auctions/closed_auction</path>
                    <description>Closed Auctions</description>
                    <enabled>true</enabled>
                </fragment>
            </fragments>
            <indexes/>
            <triggers/>
        </schema>
    </schemas>
    <modules>
        <module name="hello_module">
            <version>1</version>
            <createdAt>2015-04-10T13:36:26.965+03:00</createdAt>
            <createdBy>SDV</createdBy>
            <fileName>../../etc/samples/tpox/hello_module.xq</fileName>
            <description>The Hello Test Module</description>
            <prefix>hw</prefix>
            <namespace>http://helloworld</namespace>
            <enabled>true</enabled>
        </module>
        <module name="rest_module">
            <version>1</version>
            <createdAt>2016-10-04T13:36:26.965+03:00</createdAt>
            <createdBy>SDV</createdBy>
            <fileName>../../etc/samples/tpox/rest_module.xq</fileName>
            <description>The first REST module for TPoX schema</description>
            <prefix>tpox</prefix>
            <namespace>http://tpox-benchmark.com/rest</namespace>
            <enabled>true</enabled>
        </module>
        <module name="trigger_module">
            <version>1</version>
            <createdAt>2015-06-10T13:36:26.965+03:00</createdAt>
            <createdBy>SDV</createdBy>
            <fileName>../../etc/samples/tpox/sample_triggers.xq</fileName>
            <description>The Trigger Test Module</description>
            <prefix>bgdb</prefix>
            <namespace>http://bagridb.com/bdb</namespace>
            <enabled>true</enabled>
        </module>
    </modules>
    <libraries>
        <library name="java_library">
            <version>5</version>
            <createdAt>2015-05-21T16:17:20.542+03:00</createdAt>
            <createdBy>dsukhoroslov</createdBy>
            <description>The Standard Java Extension Library</description>
            <enabled>true</enabled>
            <functions>
                <function>
                    <className>java.lang.Double</className>
                    <method>valueOf</method>
                    <result type="double" cardinality="one"/>
                    <prefix>dbl</prefix>
                    <parameters>
                        <parameter name="value" type="string" cardinality="one"/>
                    </parameters>
                </function>
                <function>
                    <className>java.lang.Math</className>
                    <method>abs</method>
                    <result type="int" cardinality="one"/>
                    <prefix>math</prefix>
                    <parameters>
                        <parameter name="value" type="int" cardinality="one"/>
                    </parameters>
                </function>
                <function>
                    <className>java.lang.Math</className>
                    <method>max</method>
                    <result type="long" cardinality="one"/>
                    <prefix>math</prefix>
                    <parameters>
                        <parameter name="arg0" type="long" cardinality="one"/>
                        <parameter name="arg1" type="long" cardinality="one"/>
                    </parameters>
                </function>
            </functions>
        </library>
        <library name="trigger_library">
            <version>1</version>
            <createdAt>2015-05-31T16:17:20.542+03:00</createdAt>
            <createdBy>admin</createdBy>
            <fileName>../../bagri-samples/bagri-samples-ext/target/bagri-samples-ext-1.2.0.jar</fileName>
            <description>Sample extension trigger Library</description>
            <enabled>true</enabled>
            <functions/>
        </library>
    </libraries>
    <dataFormats>
        <dataFormat name="XML">
            <version>1</version>
            <createdAt>2015-05-31T16:17:20.542+03:00</createdAt>
            <createdBy>admin</createdBy>
            <library>java_library</library>
            <description>XML Parser/Builder</description>
            <enabled>true</enabled>
            <parserClass>com.bagri.core.server.api.df.xml.XmlStaxParser</parserClass>
            <builderClass>com.bagri.core.server.api.df.xml.XmlBuilder</builderClass>
            <extensions>xml</extensions>
            <type>application/xml</type>
            <properties>
		<entry name="bdb.schema.parser.schemas"></entry>
		<entry name="javax.xml.stream.isValidating">false</entry>
		<entry name="javax.xml.stream.isCoalescing">false</entry>
		<entry name="javax.xml.stream.isNamespaceAware">true</entry>
		<entry name="javax.xml.stream.isReplacingEntityReferences">true</entry>
		<entry name="javax.xml.stream.isSupportingExternalEntities">true</entry>
		<entry name="javax.xml.stream.reporter"></entry>
		<entry name="javax.xml.stream.resolver"></entry>
		<entry name="javax.xml.stream.allocator"></entry>
            </properties>
        </dataFormat>
        <dataFormat name="JSON">
            <version>1</version>
            <createdAt>2015-05-31T16:17:20.542+03:00</createdAt>
            <createdBy>admin</createdBy>
            <library>java_library</library>
            <description>JSON Parser/Builder</description>
            <enabled>true</enabled>
            <parserClass>com.bagri.core.server.api.df.json.JsonApiParser</parserClass>
            <builderClass>com.bagri.core.server.api.df.json.JsonBuilder</builderClass>
            <extensions>json</extensions>
            <type>application/json</type>
            <properties>
		<!--entry name="javax.json.spi.JsonProvider">com.github.pgelinas.jackson.javax.json.spi.JacksonProvider</entry-->
            </properties>
        </dataFormat>
    </dataFormats>
    <dataStores>
        <dataStore name="File">
            <version>1</version>
            <createdAt>2015-05-31T16:17:20.542+03:00</createdAt>
            <createdBy>admin</createdBy>
            <library>java_library</library>
            <description>Standard File store</description>
            <enabled>true</enabled>
            <storeClass>com.bagri.server.hazelcast.store.FileDocumentCacheStore</storeClass>
            <properties>
		<entry name="bdb.schema.store.data.path">../data</entry>
                <entry name="bdb.schema.store.read-only">false</entry>
            </properties>
        </dataStore>
    </dataStores>
</ns2:config>
